/* css geral para telas menos complexas 
*  Reponsavel: Guilherme Nunes
*
*/
:root {
    --c1: #303031;
    --c2: #cbcbcb;
    --b1: #000000;
    --w1: #ffffff;
    --b2: #225ABD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    padding-left: 5%;
    background: #303031;
}

h1,
h2,
p {
    font-family: 'Jost', sans-serif;
    color: var(--c2);
    text-align: center;
}

h2 {
    font-size: 5vh;
}

h1 {
    font-size: 8.8vh;
}

main {
    background: var(--b1);
    padding: 2vh;
    height: 80vh;
    width: 95%;
    border-radius: 2.67vh;
    display: grid;
    grid-template-columns: 5% auto;

}

.text {
    gap: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

img {
    opacity: 0.5;
    animation: 5ms;
}
img:hover{
    opacity: .9;
    transition: all .5s;
}

button {
    padding: 2.5vh 3vh;
    width: 45vh;
    background: var(--b2);
    border: none;
    border-radius: 1vh;
    font-family: 'Jost', sans-serif;
    color: var(--c2);
    font-size: 3.5vh;
    cursor: pointer;
    animation: 5ms;
}

button:active{
    opacity: 0.5;
    transition: all .5s;
}
button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s;
}

#btn {
    margin-top: 6vh;
}

a {
    text-decoration: none;
    color: var(--b2);
    font-family: 'Jost', sans-serif;
}

#btn-x {
    margin-bottom: 1vh;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900; 1.100.900&display=swap');